
				html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-align: justify;
	color: #000; 
	font-family: franklin-reg;
	
}
	@font-face {
  font-family: franklin-reg;
  src: url(../fonts/franklin-regular.otf);
}
.italic{
	 	font-style: italic;
	}

	.active{
		background-color: #ff8d6b; 
		color: black; 
	}
	.participatory{
		background-color: #d2ea8e; 
		color: black; 
	}

	.date{
		background-color: #d1ccbd; 
		color: black; 
	}

	a{
		text-decoration: none; 
		border-bottom: solid 2px black; 
	}
	a:hover{
		opacity: 0.5;
	}
	
		}
		audio::-webkit-media-controls-enclosure{
			background-color: white;
			border-radius: 0px; 
			color: white; 
		}
		audio::-webkit-media-controls-enclosure{
			background-color: white; 
			border-radius: 0px; 
			color: white; 
		}
		audio:focus { outline: none; }

		


/*desktop styles*/
@media screen and (min-width: 768px) {
	.audio-track{
		    padding-top: 3.8vh;
    padding-left: 0vw;
    font-size: 1.2vw;
	}
	audio{	
/*		position: absolute;
		color: grey; 
    width: 42%;
    left: 15%;
    top: 0.5vh;
    height: 6vh;
    background-color: #f9f9f9;*/

  
    /* color: grey; */
      width: 93%;
    margin-left: -3%;
    margin-top: 0.5vh;
    height: 4vh;
    /* background-color: red;*/
}
	.tags{
		position: absolute;
		width: 30%; 
		top: 2.5vh; 
		/*left: 2.5%;*/ 
		left: 2.5%;
	}
	#radio-title{
		/*position: absolute;*/
		width: 30%; 
		margin-top: -2.5%; 
		margin-left: 60%; 
	}
	#left{
		display: block;
		float: left;
		width: 60%; 
		height: 100vh; 
		/*background-color: red;*/

	}
	#headline{
		width: 100%; 
		height: 50vh;
		text-align: center;
		font-size: 9vw; 
		line-height: 15vw; 
		margin-top: 5vw; 
	}
	#phone-number{
		width: 100%; 
		text-align: center;
		font-size: 7vh;
		line-height: 8vw; 
		
	}
	#right{
		display: block;
		float: left;
		width: 40%; 
		height: 90vh; 
		padding-top: 3vh; 
		/*background-color: blue;*/

	}
	#right p {
		font-family: franklin-reg;
		width: 80%; 
		font-size: 1.2vw; 
		line-height: 1.9vw; 
	}
	#right ol{
		font-family: franklin-reg;
		margin-left: 10%; 
		font-size: 1.2vw; 
		line-height: 2.2vw;
	}
	#right .links{
		width: 15%; 
		text-align: center;
		margin-right: 18%; 
		display: block; 
		float: left;
		font-size: 1.2vw; 
		line-height: 1.9vw;
		cursor: pointer; 
	}
	.underline{
		border-bottom: solid 2px black; 
	}
	#bottom{
		display: block;
		float: left;
		width: 100%; 
		height: 20vh; 
		padding-top: 3%; 
		background-color: #f2f2f2; 

	}
	#bottom p {
		font-size: .9vw; 
		line-height: 1.3vw; 
	}
	.no-show{
		display: none; 
	}
	#bottom ul{
		width: 100%; 
		/*padding-top: 10%; */

	}
	#bottom ul li{
		display: block;
	    float: left;
	    width: 40%;
	    margin-left: 10%;
	}
	#logo{
			width: 30%; 
		}
.tag{
				font-family: franklin-reg; 
				/*border-radius: 5vw; */
				padding: .6vw .8vw .3vw .8vw;
				font-size: .85vw; 
				margin-right: 1%; 
			}
			.mobile {
				display: none; 
			}
			#header{
	position: fixed;
	/*background-color: #f9f9f9;*/
		/*height: 7vh; */
		/*border-bottom: solid 2px black;*/
		width: 100%; 
	}	
		}


/*mobile styles*/

@media screen and (max-width: 769px) {
	#header{
	/*position: fixed;*/
	/*background-color: #f9f9f9;*/
		/*height: 16vh; */
		/*border-bottom: solid 2px black;*/
		width: 100%; 
	}	
	.audio-track{
		    margin-top: 16%;
    margin-left: 5%;
	}
	audio{	
		/*position: absolute;*/
    color: grey;
    width: 96%;
    /* left: 5%; */
    top: 9vh;
    height: 6vh;
    background-color: #f9f9f9;
}


	.tags{
		position: absolute;
    width: 90%;
    top: 3%;
    left: 8%;
	}


	#left{
		    padding-top: 15vh;
		display: block;
		float: left;
		width: 100%; 
		height: 60vh; 
		background-color: white;

	}
	#headline{
		width: 100%; 
		text-align: center;
		font-size: 72px; 
		line-height: 110px; 
		margin-top: 8vw; 
		height: 25vh;
	}
	#phone-number{
		width: 100%; 
		text-align: center;
		font-size: 36px;
		line-height: 60px; 
		
	}
	#right{
		    display: block;
    float: left;
    width: 90%;
    margin-left: 5%;
    height: 135vh;
    padding-top: 10vh;
    background-color: white; 

	}
	#right p {
		font-family: franklin-reg;
		
		font-size: 21px;
		line-height: 30px; 
	}
	#right ol{
		font-family: franklin-reg;
		margin-left: 10%; 
		font-size: 21px;
		line-height: 36px; 
	}
	#right .links{
		margin-top: 5%;
	    /*width: 33%;*/
	    
	    display: block;
	    float: left;
	    font-size: 16px;
	    line-height: 17px;
	    cursor: pointer; 
	    text-align: center;
	}
	#right .link-left{
		text-align: left;
		margin-right: 20%;
	}
	 #right .link-center{
		text-align: right; 
		margin-right: 20%;
	}
	.underline{
		border-bottom: solid 2px black; 
	}
	#bottom{
		display: block;
		float: left;
		width: 100%; 
		/*height: 20vh; */
		padding-top: 3%; 
		background-color: #f2f2f2; 
		padding-bottom: 10%; 

	}
	#bottom p {
		font-size: 16px;
		line-height: 26px; 
	}
	.no-show{
		display: none; 
	}
	#bottom ul{
		width: 90%; 
		padding-top: 10%; 

	}
	#bottom ul li{
		display: block;
		float: left;
		width: 100%; 
		margin-left: 5%; 
	}
	#logo{
			width: 50%; 
		}
.tag{
				font-family: franklin-reg; 
				/*border-radius: 5vw; */
				padding: 6px 8px 3px 8px;
				font-size: 13px; 
				margin-right: 1%; 
			}
			#copy{
		position: relative;
		width: 100%; 
		padding-bottom: 20px; 
		/*bottom: 5px; */
		font-size: 14px !important; 
		padding-top: 50px; 
/*background-color: #f2f2f2; */
		text-align: center;
		color: grey;
	}

}